

.fields {
    padding: 7%;
    padding-bottom: 1% !important;
    height: 98vh;
    overflow-y: auto;
    border-radius: 30px;
    box-shadow: 30px 30px 80px rgba(255, 3, 3, 0.1);
    background-color: rgb(160, 221, 221);
}

@media (max-width: 767px) {

    /* Apply the following styles only for screens with a max-width of 767px (typically mobile devices) */
    .fields {
        height: auto;
        /* Adjust the height as needed */
    }
   
}

