.container-fluid {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cont {
  
    /* background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(13, 13, 14, 1) 42%, rgba(45, 103, 115, 1) 77%, rgba(3, 106, 126, 1) 100%); */
background: white;
}

#cont::before {
    content: "";
    background-image: inherit;
    /* Inherit the background image */
    background-size: cover;
    filter: blur(7px);
    /* Apply the blur effect to the pseudo-element */
    opacity: 0.7;
    /* Adjust the opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wind {
    height: 80vh;

    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wind2{
    height: 80vh;
    background-image: url("./dp2.png");
 background-repeat: no-repeat;
 background-size: cover;
}

@media (max-width: 767px) {

    /* Apply the following styles only for screens with a max-width of 767px (typically mobile devices) */
    .wind {
        height: 45vh;
        margin-top: -324px;

    }
    .wind2{
        height: 40vh;
    }
    .bn15{
        font-size: .7rem;
        padding: 5px 20px 5px 20px;
    }
   
}

.parag{
    font-size: medium;
    color: silver;
    font-weight: 450;
    text-align: center;
}

.bn15 {
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: rgb(84, 185, 219);
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid silver;
    border-radius: 10px;
}

.bn15:hover {
    color: #f7f7f7;
    background-color: #020202;
}