.selectt {
    width: 20vw;
    height: 6vh;
    border: none;
    border-bottom: 2px solid blue;
    font-weight: 700;
    color: rgb(115, 156, 231);
}

.count {
    font-weight: 700;
    font-size: large;
    color: rgb(5, 90, 62);
}

.large-font {
    font-size: 19px;
    /* Adjust the font size as needed */
    margin-right: 20px;
    /* Add right margin for spacing */
    color: black;
}
.h1Chart{
    text-align: center;
}

@media (max-width: 767px) {
    .h1Chart {
        font-weight: 700;
        font-size: 28px;
    }
    .chartContain{
        margin-top: -111px;
    }
}