#updateCont {

    background-color: rgb(209, 203, 203);
}

.updateField {
    padding-top: 5% !important;
    padding: 7%;
    height: 50vh;
    border-radius: 30px;
    box-shadow: -6px -18px 80px whitesmoke;
    /* background-color: rgb(160, 221, 221); */
    background-color: #A2B0FF;
    ;
}

.btn3 {
    width: 50%;
    height: 48px;
    /* border-color: transparent; */
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
}

.h1update {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8.1px;
    font-size: 46px;
    text-align: center;
    color: black;
}

@media (max-width: 755px) {
    #updateCont {
        background-image: url("./bg3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}