
.forgetField{
    height: 55vh;
    background-color: yellow;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

.btnSuc{
    background-color: rgb(13, 238, 62);
    color: black;
    border: none;
    outline: none;
}